<div class="container-fluid" id="contenedor-principal">
    <div class="card">
        <div class="row">
            <div class="col-md-6 cart text-center">
                <div class="title">
                    <div class="row">
                        <img src="../../../../../assets/img/Logotipo_PAGODIGITAL.png" class="rounded-sm img-fluid" id="logo" alt="">
                        <div class="col text-right"><h4><b>Nombre del comercio</b></h4></div>                        
                    </div>
                </div>
                <div class="col text-left text-muted">Resumen compra</div><br>
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/1GrakTl.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Producto</div>
                            <div class="row">Referencia</div>
                        </div>
                        <div class="col">&#36; 44.000 </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="https://i.imgur.com/ba3tvGm.jpg"></div>
                        <div class="col">
                            <div class="row text-muted">Producto</div>
                            <div class="row">Referencia</div>
                        </div>
                        <div class="col">&#36; 44.000 </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="row main align-items-center">
                        <div class="col">
                            <h6 class="text-muted text-right">Total: $88.000</h6>
                            <h6 class="text-muted text-right">IVA: $0</h6>
                            <h4 class="text-right">Total compra: &#36; 88.000</h4>
                        </div>
                    </div>                    
                </div>
                <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Volver al comercio</span></div>
            </div>
            <div class="col-md-6 summary">
                <div class="text-center"><h5><b>Información de pago</b></h5></div>
                <hr>
                
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nombre" class="text-left">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="telefono" class="text-left">Teléfono</label>
                            <input type="text" class="form-control" placeholder="Teléfono">
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">                            
                            <label for="tipo_documento" class="text-left">Tipo documento</label>
                            <select id="selectTipoDocumento" class="form-control">
                                <option value="0">Seleccione</option>
                                <option value="1">Cédula Ciudadanía</option>
                                <option value="2">Cédula Extranjería</option>
                                <option value="3">Pasaporte</option>
                            </select>                            
                        </div>
                        <div class="form-group col-md-6">
                            <label for="numero_documento" class="text-left">Documento</label>
                            <input type="text" class="form-control" placeholder="Documento">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email" class="text-left">Email</label>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="referencia" class="text-left">Referencia de pago</label>
                            <input type="text" class="form-control" placeholder="Referencia de pago">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="sucursal" class="text-left">Sucursal</label>
                            <select id="sucursal" class="form-control">
                                <option value="0">-- Seleccione --</option>
                                <option value="1">Colina Campestre</option>
                                <option value="2">Las Américas</option>
                                <option value="3">Usaquen</option>
                                <option value="4">Chapinero</option>
                            </select>
                        </div>
                    </div>
                    <h4 class="text-center">Método de pago</h4>
                    <br>
                    <div class="form-row">
                        
                        <div class="col-md-10 offset-1">
                            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                                
                                <li class="nav-item">
                                    <a class="nav-link active" id="pse-tab" data-toggle="tab" href="#pse" role="tab" aria-controls="pse" aria-selected="true">PSE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="credit-card-tab" data-toggle="tab" href="#credit-card" role="tab" aria-controls="credit-card" aria-selected="false">Tarjeta</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="pse" role="tabpanel" aria-labelledby="pse-tab">
                                    <br>
                                    
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="banco">Banco</label>
                                            <select id="banco">
                                                <option value="0">-- Seleccione --</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="tipo_persona">Tipo Persona</label>
                                            <select id="tipo_persona">
                                                <option value="0">-- Seleccione --</option>
                                                <option value="1">Persona Natural</option>
                                                <option value="2">Persona Jurídica</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="credit-card" role="tabpanel" aria-labelledby="credit-card-tab">
                                    <br>
                                    <h6 class="text-white">Información de la tarjeta</h6>
                                    <div class="cc-types">
                                        <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>&nbsp;
                                        <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>&nbsp;
                                        <!-- <i class="fa fa-cc-amex fa-2x" aria-hidden="true"></i>&nbsp;
                                        <i class="fa fa-cc-discover fa-2x" aria-hidden="true"></i>&nbsp; -->
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="1234 1234 1234 1234" (keypress)="ponerEspacios($event); ">
                                        <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-credit-card-alt" aria-hidden="true"></i></span>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" maxlength='5' placeholder="MM/YY" (keyup)="formatString($event);">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <input type="text" class="form-control" maxlength='4' placeholder="1234" (keypress)="soloNumeros($event);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>                    
                </form>
                
                <button class="btn rounded">Pagar</button>
            </div>
        </div>
        
    </div>   
</div>

